.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
  transition: color 0.2s ease;
}

.footer__link:hover {
  color: var(--clr-primary);
}
.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}